---
import { Icon } from "astro-icon/components";

import type { Testimonial } from "@/data/testimonials";

const { quote, avatar, name, position } = Astro.props as Testimonial;
---

<div class="testimonial-card">
  <div class="testimonial-card__rating">
    {Array.from({ length: 5 }, () => <Icon name="star" />)}
  </div>
  <p class="testimonial-card__quote">
    “{quote}”
  </p>
  <div class="testimonial-card__author">
    <img src={avatar} class="testimonial-card__avatar" />
    <div class="testimonial-card__details">
      <p class="testimonial-card__name">{name}</p>
      <p class="testimonial-card__position">{position}</p>
    </div>
  </div>
</div>

<style>
  .testimonial-card {
    max-inline-size: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-border-subtle);
    box-shadow: 0px 1px 2px var(--color-border-subtle);
    border-radius: 0.75rem;
  }

  .testimonial-card__author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .testimonial-card__avatar {
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: calc(var(--size) / 4);
  }

  .testimonial-card__details {
    display: flex;
    flex-direction: column;
  }

  .testimonial-card__name {
    font-weight: 500;
  }

  .testimonial-card__position {
    color: var(--color-foreground-subtle);
    font-size: var(--font-body-size-small);
  }

  .testimonial-card__quote {
    color: var(--color-foreground-default);
  }

  .testimonial-card__rating {
    display: flex;
    gap: 0.5rem;
    color: var(--color-foreground-brand);
  }
</style>
