---
import Section from "@/components/Section.astro";
import ServicesCard from "@/sections/Services/ServicesCard.astro";

import { services } from "@/data/services";
import Header from "@/components/Header.astro";
import Container from "@/components/Container.astro";
---

<Section class="services" id="services">
  <Container>
    <Header
      class="services__header"
      title="Temos a solução que precisas"
      subtitle="Um conjunto completo de serviços que vão impulsionar o próximo passo na tua carreira"
    />
    <div class="services__stack">
      {
        services.map((service) => (
          <ServicesCard
            title={service.title}
            description={service.description}
            action={service.action}
          />
        ))
      }
    </div>
  </Container>
</Section>

<style>
  .services__stack {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .services__title {
    font-size: var(--font-lead-size-small);
    letter-spacing: var(--font-lead-tracking);
  }

  @media (min-width: 40rem) {
    .services__stack {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
