---
import Header from "@/components/Header.astro";
import Section from "@/components/Section.astro";
import ServicesCard from "@/sections/Services/ServicesCard.astro";
---

<Section id="services">
  <Header title="Tudo o que precisas para dares o próximo passo" />
  <div class="services__stack">
    <ServicesCard
      title="Job Matching"
      description="Delineamos um processo focado e seletivo na tua procura de emprego. Reunimos as tuas preferências e objetivos, e fazemos match com empresas à procura de candidatos com as tuas competências."
    />
    <ServicesCard
      title="Preparação para Entrevista"
      description="Melhora a tua narrativa profissional e pessoal. Ajudamos-te a elaborar respostas firmes para perguntas comuns, e treinamos a tua comunicação verbal e não verbal para te destacares em entrevista."
    />
    <ServicesCard
      title="Revisão de Currículo"
      description="Imagina um currículo que para além de demonstrar as tuas competências, conta a tua história de forma cativante. Um currículo que se destaca da concorrência e capta a atenção do recrutador."
    />
    <ServicesCard
      title="Otimização de LinkedIn"
      description="Destaca-te na rede social mais importante para a tua carreira. Otimizamos o teu perfil pessoal de LinkedIn para alcançares o teu próximo emprego em tempo recorde."
    />
  </div>
</Section>

<style>
  .services__stack {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .services__title {
    font-size: var(--font-lead-size-small);
    letter-spacing: var(--font-lead-tracking);
  }

  @media (min-width: 40rem) {
    .services__stack {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
