---
import Link from "@/components/Link.astro";
import Section from "@/components/Section.astro";
import HeroMarquee from "@/sections/Hero/HeroMarquee.astro";
---

<Section class="hero" id="hero">
  <main class="hero__content">
    <h1 class="hero__title">Lado a lado na tua carreira</h1>
    <h2 class="hero__subtitle">
      O próximo emprego de sonho está ao teu alcance. Nós ajudamos-te a chegar
      lá.
    </h2>
  </main>
  <div class="hero__actions">
    <Link
      href="https://cal.com/zalodias/30min"
      context="brand"
      target="_blank"
      variant="solid">Agendar Sessão</Link
    >
    <Link href="#plans" context="brand" variant="flat">Ver Planos</Link>
  </div>
  <HeroMarquee class="hero__marquee" duration="20s">
    <img
      class="hero__marquee-item"
      src="https://images.unsplash.com/photo-1548142813-c348350df52b?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
    <img
      class="hero__marquee-item"
      src="https://images.unsplash.com/photo-1507537297725-24a1c029d3ca?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjJ8fHBlcnNvbiUyMHNtaWxpbmclMjBidXNpbmVzc3xlbnwwfDF8MHx8fDA%3D"
    />
    <img
      class="hero__marquee-item"
      src="https://images.unsplash.com/photo-1579389082366-6a268f7c20e0?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
  </HeroMarquee>
</Section>

<style>
  .hero__actions {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .hero__marquee {
    width: 100vw;
    margin-inline: calc((-100vw + 100%) / 2);
  }

  .hero__marquee-item {
    max-inline-size: min(80vw, 25rem);
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 2rem;
  }

  .hero__overlay {
    position: absolute;
    inset: -1px;
    background: linear-gradient(
        to bottom,
        hsl(from var(--color-background-subtle) h s l / 50%) 100%,
        hsl(from var(--color-background-subtle) h s l / 50%) 100%
      ),
      linear-gradient(
        to bottom,
        hsl(from var(--color-background-brand) h s l / 20%) 20%,
        var(--color-background-subtle) 100%
      );
  }

  .hero__subtitle {
    font-size: var(--font-body-size-large);
  }

  .hero__title {
    font-size: var(--font-display-size-smaller);
    font-weight: 400;
    letter-spacing: var(--font-display-tracking);
  }

  @media (min-width: 40rem) {
    .hero {
      padding-block: calc(var(--space-section-inset) / 2);
    }

    .hero__title {
      font-size: var(--font-display-size-small);
    }
  }
</style>
