---
import Header from "@/components/Header.astro";
import PlansCard from "@/sections/Plans/PlansCard.astro";
import Section from "@/components/Section.astro";
---

<Section id="plans">
  <Header
    title="Um plano simples para o teu crescimento"
    subtitle="Um programa único, focado na tua individualidade e adaptado às tuas necessidades"
  />
  <PlansCard />
</Section>
