---
import Link from "@/components/Link.astro";
import PlansFeature from "@/sections/Plans/PlansFeature.astro";

import type { Plan } from "@/data/plans";

const { title, subtitle, price, isPopular, features } = Astro.props as Plan;
---

<div class:list={["plans-card", { "plans-card--highlight": isPopular }]}>
  <div class="plans-card__content">
    <div class="plans-card__header">
      <div class="plans-card__heading">
        <h4
          class:list={[
            "plans-card__title",
            { "plans-card__title--highlight": isPopular },
          ]}
        >
          {title}
        </h4>
        {isPopular && <div class="plans-card__badge">Oferta de lançamento</div>}
      </div>
      {subtitle && <p class="plans-card__subtitle">{subtitle}</p>}
    </div>
    <div class="plans-card__price">
      <h3 class="plans-card__amount-current">{price}€</h3>
      {isPopular && <h4 class="plans-card__amount-slash">185€</h4>}
    </div>
    <ul class="plans-card__list" role="list">
      {features.map((feature) => <PlansFeature name={feature} />)}
    </ul>
  </div>
  <Link
    class="plans-card__link"
    href="#"
    variant={isPopular ? "solid" : "outline"}
    context="brand">Começar Agora</Link
  >
</div>

<style>
  .plans-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-border-subtle);
    box-shadow: 0px 1px 2px var(--color-border-subtle);
  }

  .plans-card--highlight {
    border: 2px solid var(--color-border-brand);
  }

  .plans-card__amount-current {
    font-size: var(--font-lead-size-large);
    font-weight: 600;
  }

  .plans-card__amount-slash {
    color: var(--color-foreground-brand);
    font-weight: 500;
    text-decoration: line-through;
  }

  .plans-card__badge {
    display: inline-flex;
    align-items: center;
    background-color: hsl(from var(--color-background-brand) h s l / 8%);
    color: var(--color-foreground-brand);
    font-size: var(--font-body-size-small);
    font-weight: 500;
    padding-inline: 0.5rem;
    border-radius: 1rem;
  }

  .plans-card__content {
    display: flex;
    flex-direction: column;
  }

  .plans-card__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .plans-card__heading {
    display: flex;
    justify-content: space-between;
  }

  .plans-card__link {
    width: 100%;
  }

  .plans-card__list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .plans-card__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
  }

  .plans-card__subtitle {
    color: var(--color-foreground-subtle);
  }

  .plans-card__title {
    font-size: var(--font-body-size-larger);
    font-weight: 600;
  }

  .plans-card__title--highlight {
    color: var(--color-foreground-brand);
  }
</style>
