---
import Link from "@/components/Link.astro";
import PlansCardItem from "@/sections/Plans/PlansCardItem.astro";
---

<div class="plans-card">
  <div class="plans-card__header">
    <div class="plans-card__heading">
      <h4 class="plans-card__title">Plano Kickstart</h4>
      <div class="plans-card__badge">Oferta de lançamento</div>
    </div>
    <p class="plans-card__description">
      O plano que vai garantir a tua próxima oportunidade de emprego
    </p>
  </div>
  <h3 class="plans-card__price-value">€145</h3>
  <ul class="plans-card__list" role="list">
    <PlansCardItem title="Sessão introdutória" />
    <PlansCardItem title="Pesquisa personalizada de empresa" />
    <PlansCardItem title="Análise e criação de currículo" />
    <PlansCardItem title="2 sessões de preparação para entrevista" />
  </ul>
  <Link class="plans-card__link" href="#" variant="solid" context="brand"
    >Começar Agora</Link
  >
</div>

<style>
  .plans-card {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-border-subtle);
    box-shadow: 0px 1px 2px var(--color-border-subtle);
  }

  .plans-card__badge {
    display: inline-flex;
    align-items: center;
    background-color: hsl(from var(--color-background-brand) h s l / 8%);
    color: var(--color-foreground-brand);
    font-weight: 500;
    padding-inline: 0.5rem;
    border-radius: 1rem;
  }

  .plans-card__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .plans-card__heading {
    display: flex;
    justify-content: space-between;
  }

  .plans-card__link {
    width: 100%;
  }

  .plans-card__list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .plans-card__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-background-subtle);
    padding: 1rem;
    border-radius: 1rem;
  }

  .plans-card__price-value {
    font-size: var(--font-lead-size-large);
    font-weight: 600;
  }

  .plans-card__title {
    font-size: var(--font-body-size-larger);
    font-weight: 600;
  }
</style>
