---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="header">
  <h2 class="header__title">{title}</h2>
  <h3 class="header__subtitle">{subtitle}</h3>
</div>

<style>
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }

  .header__subtitle {
    font-size: var(--font-body-size-large);
    color: var(--color-foreground-subtle);
  }

  .header__title {
    font-size: var(--font-lead-size-default);
    font-weight: 500;
    letter-spacing: var(--font-lead-tracking);
  }
</style>
