---
interface Props {
  class?: string;
  id: string;
}

const { class: className, id, ...props } = Astro.props;
---

<section class:list={["section", className]} id={id} {...props}>
  <slot />
</section>

<style>
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-section-stack);
    padding-block: var(--space-section-inset);
  }
</style>
