---
import Header from "@/components/Header.astro";
import Section from "@/components/Section.astro";
import StepsCard from "@/sections/Steps/StepsCard.astro";
import { steps } from "@/data/steps";
---

<Section class="steps" id="steps">
  <Header
    title="Como funciona o processo"
    subtitle="Optámos por um processo simples para podermos começar a trabalhar juntos e conseguir atingir resultados rapidamente"
    class="steps__header"
  />
  <div class="steps__cards">
    {
      steps.map((step) => (
        <StepsCard
          step={step.step}
          title={step.title}
          description={step.description}
          action={step.action}
        />
      ))
    }
  </div>
</Section>

<style>
  .steps__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .steps__content {
    display: flex;
    flex-direction: column;
  }

  .steps__header {
    text-align: start;
  }

  @media (min-width: 40rem) {
    .steps {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
