---
import Link from "@/components/Link.astro";

import type { Step } from "@/data/steps";

const { step, title, description, action } = Astro.props as Step;
---

<div class="steps-card">
  <div class="steps-card__step">
    {step}
  </div>
  <header class="steps-card__header">
    <h2 class="steps-card__title">{title}</h2>
    <p class="steps-card__description">
      {description}
    </p>
  </header>
  {
    action && (
      <Link
        variant="flat"
        context="brand"
        href="#plans"
        iconTrailing="arrow-up-right"
      >
        {action}
      </Link>
    )
  }
</div>

<style>
  .steps-card {
    max-inline-size: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-border-subtle);
    box-shadow: 0px 1px 2px var(--color-border-subtle);
    border-radius: 0.75rem;
  }

  .steps-card__description {
    color: var(--color-foreground-subtle);
  }

  .steps-card__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .steps-card__step {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: hsl(from var(--color-background-brand) h s l / 8%);
    color: var(--color-foreground-brand);
    font-weight: 500;
  }

  .steps-card__title {
    font-size: var(--font-body-size-large);
    font-weight: 600;
  }
</style>
