---
import Link from "@/components/Link.astro";
---

<section class="hero">
  <main class="hero__content">
    <h1 class="hero__title">Lado a lado na tua carreira</h1>
    <h2 class="hero__subtitle">
      O pr칩ximo emprego de sonho est치 ao teu alcance. N칩s ajudamos-te a chegar
      l치.
    </h2>
  </main>
  <div class="hero__actions">
    <Link href="#" variant="solid">Agendar Meeting</Link>
    <Link href="#" variant="flat">Ver Planos</Link>
  </div>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    padding-block: var(--space-section-inset);
  }

  .hero__actions {
    display: flex;
    gap: 1.25rem;
  }

  .hero__content {
    display: grid;
    gap: 1rem;
  }

  .hero__subtitle {
    font-size: var(--font-body-size-large);
  }

  .hero__title {
    font-size: var(--font-display-size-smaller);
    font-weight: 400;
    letter-spacing: var(--font-display-tracking);
  }

  @media (min-width: 640px) {
    .hero__title {
      font-size: var(--font-display-size-small);
    }
  }
</style>
