<section class="hero">
  <iframe
    class="hero__video"
    allow="autoplay; fullscreen; picture-in-picture"
    src="https://player.vimeo.com/video/441944389?autoplay=1&muted=true&loop=1&controls=0"
  ></iframe>
  <main class="hero__content">
    <h1 class="hero__title">Lado a lado na tua carreira</h1>
    <h2 class="hero__subtitle">
      O pr칩ximo emprego de sonho est치 ao teu alcance. N칩s ajudamos-te a chegar
      l치.
    </h2>
  </main>
</section>

<style>
  .hero {
    padding-block: 8rem;
  }

  .hero__content {
    display: grid;
    gap: 1rem;
  }

  .hero__subtitle {
    font-size: var(--font-body-size-large);
  }

  .hero__title {
    font-size: var(--font-display-size-smaller);
    font-weight: 400;
    letter-spacing: -0.04em;
  }

  .hero__video {
    border: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @media (min-width: 640px) {
    .hero__title {
      font-size: var(--font-display-size-small);
    }
  }
</style>
