---
import Card from "@/components/Card.astro";
---

<section class="services">
  <h1 class="services__title">
    Tudo o que precisas para dares o próximo passo
  </h1>
  <div class="services__stack">
    <Card
      title="Preparação para Entrevista"
      description="Melhora a tua narrativa profissional e pessoal. Ajudamos-te a elaborar respostas firmes para perguntas comuns, e treinamos a tua comunicação verbal e não verbal para te destacares em entrevista."
    />
    <Card
      title="Criação de Currículo"
      description="Imagina um currículo que para além de demonstrar as tuas competências, conta a tua história de forma cativante. Um currículo que se destaca da concorrência e capta a atenção do recrutador."
      action="Ver Exemplos"
    />
    <Card
      title="Otimização de LinkedIn"
      description="Destaca-te na rede social mais importante para a tua carreira. Otimizamos o teu perfil pessoal de LinkedIn para alcançares o teu próximo emprego em tempo recorde."
    />
  </div>
</section>

<style>
  .services {
    display: grid;
    gap: var(--space-section-stack);
    padding-block: var(--space-section-inset);
  }

  .services__stack {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .services__title {
    font-size: var(--font-lead-size-small);
  }

  @media (min-width: 50rem) {
    .services__stack {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 80rem) {
    .services__stack {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
