@layer default, color, font, space, size, motion;

@layer default {
  *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
  }

  :where(html) {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    block-size: 100%;
  }

  :where(body) {
    min-block-size: 100%;
    background-color: var(--color-background-subtle);
    color: var(--color-foreground-default);
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :where(a, button) {
    cursor: revert;
  }

  :where(ol, ul, menu, summary) {
    list-style: none;
  }

  ::placeholder {
    color: unset;
  }

  ::marker {
    content: initial;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
}

@layer color {
  :root {
    --hue: 240;

    --color-white: hsl(var(--hue) 8% 100%);
    --color-neutral-50: hsl(var(--hue) 8% 96%);
    --color-neutral-100: hsl(var(--hue) 8% 92%);
    --color-neutral-200: hsl(var(--hue) 8% 88%);
    --color-neutral-300: hsl(var(--hue) 8% 80%);
    --color-neutral-400: hsl(var(--hue) 8% 64%);
    --color-neutral-500: hsl(var(--hue) 8% 48%);
    --color-neutral-600: hsl(var(--hue) 8% 32%);
    --color-neutral-700: hsl(var(--hue) 8% 16%);
    --color-neutral-800: hsl(var(--hue) 8% 12%);
    --color-neutral-900: hsl(var(--hue) 8% 8%);

    --color-brand-500: hsl(var(--hue) 96% 64%);
  }

  :root {
    color-scheme: light;

    --color-background-default: var(--color-white);
    --color-background-strong: var(--color-neutral-100);
    --color-background-subtle: var(--color-neutral-50);
    --color-background-inverse: var(--color-neutral-900);
    --color-background-brand: var(--color-brand-500);
    --color-foreground-default: var(--color-neutral-900);
    --color-foreground-strong: var(--color-neutral-800);
    --color-foreground-subtle: var(--color-neutral-600);
    --color-foreground-inverse: var(--color-neutral-50);
    --color-foreground-brand: var(--color-brand-500);
    --color-border-default: var(--color-neutral-200);
    --color-border-strong: var(--color-neutral-300);
    --color-border-subtle: var(--color-neutral-100);
    --color-border-brand: var(--color-brand-500);
  }
}

@layer font {
  :root {
    font-family: "Onest", system-ui;
    -webkit-font-smoothing: antialiased;

    --font-body-size-smaller: 0.75rem;
    --font-body-size-small: 0.875rem;
    --font-body-size-medium: 1rem;
    --font-body-size-large: 1.125rem;
    --font-body-size-larger: 1.25rem;

    --font-lead-tracking: -0.02em;
    --font-lead-size-smaller: 1.5rem;
    --font-lead-size-small: 1.75rem;
    --font-lead-size-medium: 2rem;
    --font-lead-size-large: 2.25rem;
    --font-lead-size-larger: 2.5rem;

    --font-display-tracking: -0.04em;
    --font-display-size-smaller: 2.25rem;
    --font-display-size-small: 2.5rem;
    --font-display-size-medium: 3rem;
    --font-display-size-large: 3.5rem;
    --font-display-size-larger: 4rem;
  }

  @media (min-width: 40rem) {
    :root {
      --font-display-size-smaller: 2.5rem;
      --font-display-size-small: 3rem;
      --font-display-size-medium: 3.5rem;
      --font-display-size-large: 4rem;
      --font-display-size-larger: 4.5rem;
    }
  }

  @media (min-width: 60rem) {
    :root {
      --font-display-size-smaller: 3rem;
      --font-display-size-small: 3.5rem;
      --font-display-size-medium: 4rem;
      --font-display-size-large: 4.5rem;
      --font-display-size-larger: 5rem;
    }
  }
}

@layer space {
  :root {
    --space-section-inset: 5rem;
    --space-section-stack: 2.5rem;
  }

  @media (min-width: 40rem) {
    :root {
      --space-section-inset: 7.5rem;
    }
  }

  @media (min-width: 60rem) {
    :root {
      --space-section-inset: 10rem;
    }
  }
}

@layer size {
  :root {
    --size-container: 80rem;
  }
}

@layer motion {
  :root {
    --motion-transition-duration: 200ms;
  }
}
