---
import Link from "@/components/Link.astro";
import NavigationList from "./NavigationList.astro";
---

<section class="navigation">
  <nav class="navigation__content">
    <span class="navigation__logo">sidekick</span>
    <NavigationList />
    <Link href="#" variant="solid" context="brand">Agendar Sessão</Link>
  </nav>
</section>

<style>
  .navigation {
    padding-block: 1rem;
  }

  .navigation__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation__logo {
    font-size: var(--font-body-size-large);
    font-weight: 600;
  }

  @media (min-width: 60rem) {
    .navigation {
      padding-inline: 1rem;
      padding-block: 2rem;
    }

    .navigation__logo {
      font-size: var(--font-body-size-larger);
    }
  }
</style>
