---
import Link from "@/components/Link.astro";
import NavigationList from "./NavigationList.astro";
import Logo from "@/components/Logo.astro";
---

<section class="navigation">
  <nav class="navigation__content">
    <Logo />
    <NavigationList />
    <Link href="#" variant="solid" context="brand">Agendar Sessão</Link>
  </nav>
</section>

<style>
  .navigation {
    padding-block: 1rem;
  }

  .navigation__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 60rem) {
    .navigation {
      padding-inline: 1rem;
      padding-block: 2rem;
    }
  }
</style>
